<h1 mat-dialog-title class="clash-bot-release-notification-header">ClashBot - Release Notification</h1>
<mat-dialog-content>
    <div class="clash-bot-release-notification-list">
        <div class="clash-bot-release-notification-release">
            <markdown id="clash-bot-release-notification-markdown-container" src="assets/ReleaseNotification.md"></markdown>
        </div>
    </div>
    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close id="clash-bot-release-notification-button-dismiss">Dismiss</button>
    </mat-dialog-actions>
</mat-dialog-content>