.team-cards {
  padding-top: 1em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.team-card {
  padding: 0.5em;
}

.chips-list {
  width: 100%;
}

.clash-bot-teams-card-create-new-container {
  display: flex;
  justify-content: center;
}

.clash-bot-teams-card-create-new-forms {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.show-tentative-button-container {
  display: flex;
  align-items: center;
}
