.clash-bot-teams-card-create-new-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 250px;
}

.clash-bot-teams-card-create-new-form-container {
  display: flex;
  justify-content: center;
}

.clash-bot-teams-card-create-new-forms {
  display: flex;
  align-items: center;
  flex-direction: column;
}