.clash-bot-user-profile-save-button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.clash-bot-user-profile-save-button-container > button {
  margin: 0.5em;
}

.example-chip-list {
  width: 100%;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description .mat-panel-title {
  justify-content: space-between;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

mat-expansion-panel {
  padding: 2em 0 2em 0;
}

mat-expansion-panel.mat-expansion-panel:nth-of-type(1n+1) {
  margin-top: 1em !important;
}

