.clash-bot-user-profile-save-button-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.clash-bot-user-profile-save-button-container > button {
  margin: 0.5em;
}

.example-chip-list {
  width: 100%;
}
