<div class="clash-bot-teams-dashboard-help-dialog-container">
  <h1 mat-dialog-title>Teams Dashboard Help Menu! Help is here!</h1>
  <mat-dialog-content>
    <div class="clash-bot-teams-dashboard-help-dialog-content">
      <div class="clash-bot-teams-dashboard-help-dialog-content-row">
        <div class="clash-bot-teams-dashboard-help-dialog-content-icon">
          <button class="clash-bot-teams-dashboard-help-dialog-player-role-join-btn">
            <h2 class="clash-bot-teams-dashboard-help-dialog-player-role-join-text">Top</h2>
          </button>
        </div>
        <div class="clash-bot-teams-dashboard-help-dialog-content-description">
          <p>To add yourself to a Team.</p>
        </div>
      </div>
      <div class="clash-bot-teams-dashboard-help-dialog-content-row">
        <div class="clash-bot-teams-dashboard-help-dialog-content-icon">
          <button mat-icon-button color="primary">
            <mat-icon>remove</mat-icon>
          </button>
        </div>
        <div class="clash-bot-teams-dashboard-help-dialog-content-description">
          <p>To remove yourself from a Team.</p>
        </div>
      </div>
      <div class="clash-bot-teams-dashboard-help-dialog-content-row">
        <div class="clash-bot-teams-dashboard-help-dialog-content-icon">
          <mat-chip>Goon Squad</mat-chip>
        </div>
        <div class="clash-bot-teams-dashboard-help-dialog-content-description">
          <p>To filter Teams based on the selected Server.</p>
        </div>
      </div>
      <div class="clash-bot-teams-dashboard-help-dialog-content-row">
        <div class="clash-bot-teams-dashboard-help-dialog-content-icon">
          <mat-icon>warning</mat-icon>
        </div>
        <div class="clash-bot-teams-dashboard-help-dialog-content-description">
          <p style="font-weight: bolder">DO NOT REFRESH ON THE TEAMS PAGE!</p>
          <p> If you do, navigate back to the Welcome Page and then back to retrieve your User details again.
            This app is still relatively new so you can help identify any issues! If you do face something that you do
            not think is right, please use this <a href="https://forms.gle/wu4WBykZXZ7Jm5j26">Google Form</a> to report
            it. Thank you! :D</p>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="primary">Close</button>
  </mat-dialog-actions>
</div>
