.clash-bot-teams-dashboard-help-dialog-container {
  display: flex;
  flex-direction: column;
  max-width: 425px;
}

.clash-bot-teams-dashboard-help-dialog-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.clash-bot-teams-dashboard-help-dialog-content-row {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.clash-bot-teams-dashboard-help-dialog-content-icon {
  flex-basis: 8em;
  display: flex;
  justify-content: center;
  align-self: center;
}

.clash-bot-teams-dashboard-help-dialog-content-description {
  flex: 1;
}

.clash-bot-teams-dashboard-help-dialog-player-role-join-text {
  margin-top: 16px;
}

.clash-bot-teams-dashboard-help-dialog-player-role-join-btn {
  background-color: white;
  border: gray solid 0.5px;
  border-radius: 11px;
  box-shadow: 1px 1px 1px 1px black;
  transition: width 200ms cubic-bezier(0.35, 0, 0.25, 1);
  width: 80%;
}

.clash-bot-teams-dashboard-help-dialog-player-role-join-btn:hover {
  width: 70%;
  background-color: rgb(240, 240, 240);
}
