<div class="clash-bot-player-details-container">
    <div class="player-role-player-details-inner-container">
        <ng-container *ngIf="player.name === '' || player.name === null; else elseBlock">
            <div class="player-role-join-container">
                <button mat-raised-button
                        class="player-role-join-btn"
                        id="clash-bot-team-card-join-{{player.role ?? '' | kebabcase}}-register-button"
                        (click)="registerToTeam(player.role ?? '')">
                    <div class="player-join-button-inner-container">
                        {{player.role}}
                        <mat-icon svgIcon="league-{{player.role | lowercase}}"></mat-icon>
                    </div>
                </button>
            </div>
        </ng-container>
        <ng-template #elseBlock>
            <div class="player-details-player-container">
                <div *ngIf="player.isUser" class="clash-bot-role-button">
                    <div class="clash-bot-button-container">
                        <button mat-icon-button
                                color="warn"
                                id="clash-bot-team-card-{{player.role  ?? ''| kebabcase}}-unregister-button"
                                (click)="unregisterFromTeam()"
                                aria-label="Unregister with this Team">
                            <mat-icon>remove</mat-icon>
                        </button>
                    </div>
                </div>
                <mat-accordion class="player-detail-accordion-container">
                    <mat-expansion-panel id="clash-bot-team-card-registered-player"
                                         class="player-details-player-inner-container">
                        <mat-expansion-panel-header
                                id="clash-bot-team-card-registered-player-{{player.role  ?? ''| kebabcase}}">
                            <mat-panel-title>{{player.name}}</mat-panel-title>
                            <mat-panel-description>{{player.role}}
                                <mat-icon svgIcon="league-{{player.role | lowercase}}"></mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div id="clash-bott-team-card-registered-player-{{player.role  ?? ''| kebabcase}}-champion-list"
                             class="player-champion-list-container">
                            <h4>Preferred Champions</h4>
                            <ng-container *ngIf="player.champions && player.champions.length > 0">
                                <div class="champion-container" *ngFor="let champion of player.champions">
                                    <img class="champion-img"
                                         src='https://ddragon.leagueoflegends.com/cdn/{{apiVersion}}/img/champion/{{champion}}.png'/>
                                    <p class="champion-name">{{champion}}</p>
                                </div>
                            </ng-container>
                            <p *ngIf="player.champions && player.champions.length === 0">None set</p>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </ng-template>
    </div>
</div>
