<button mat-fab [disabled]="!loggedIn"
        color="primary" [matMenuTriggerFor]="menu" id="clash-bot-discord-username">
    <mat-icon>person</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item disabled>
        <mat-icon>discord</mat-icon>
        <span>{{ username }}</span>
    </button>
    <button mat-menu-item (click)="logOut()">Log Out</button>
    <button mat-menu-item>
        <mat-slide-toggle [checked]="isDarkModeOn" (toggleChange)="toggleDarkMode()">
            <mat-icon *ngIf="isDarkModeOn; else elseBlock">dark_mode</mat-icon>
            <ng-template #elseBlock>
                <mat-icon>light_mode</mat-icon>
            </ng-template>
        </mat-slide-toggle>
    </button>
</mat-menu>