<div class="main-container">
  <mat-card class="clash-bot-welcome-card">
    <mat-card-title id="WelcomeMessage-Title">Welcome to Clash-Bot!</mat-card-title>
    <mat-card-content id="WelcomeMessage-Message">
      <p>This site is here to help you and your
        friends quickly group up through
        discord to compete in a League of
        Legends Clash Tournament.</p>
      <p id="WelcomeMessage-LoginMessage" *ngIf="loggedIn === 'NOT_LOGGED_IN'">
        Please login to discord using the button below before continuing.
      </p>
      <p *ngIf="loggedIn === 'LOGGED_IN'">Please use the menu above to see the available content.</p>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions class="clash-bot-welcome-dashboard-buttons-container">
      <button mat-raised-button id="WelcomeMessage-DiscordLogin-Btn" (click)="loginToDiscord()"
              *ngIf="loggedIn === 'NOT_LOGGED_IN'" color="primary" align="end">
        <mat-icon>discord</mat-icon>
        <span>Login to Discord</span>
      </button>
      <a mat-raised-button href="https://top.gg/bot/837629412328734740" target="_blank">Add Discord bot to Server</a>
    </mat-card-actions>
    <mat-card-footer *ngIf="loggedIn === 'LOGGING_IN'">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
  <app-upcoming-tournament-details-card class="upcoming-tournament-card" *ngIf="dataLoaded && tournaments" [tournaments]="tournaments"></app-upcoming-tournament-details-card>
  <app-clash-tournament-calendar class="tournament-calendar-card" id="WelcomeMessage-Calendar" [daysSelected]="tournamentDays" *ngIf="dataLoaded"></app-clash-tournament-calendar>
</div>
