@media only screen and (max-width: 700px) {
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 701px) {
  .main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

.clash-bot-welcome-card {
  max-width: 25em;
  min-width: 25em;
  min-height: 12em;
  margin-bottom: 1em;
}

.upcoming-tournament-card {
  min-width: 25em;
}

.tournament-calendar-card {
  min-width: 25em;
  min-height: 15em;
  margin-top: 1em;
}

#WelcomeMessage-PreseasonNotification {
  font-size: 1.05em;
  border: 0.35em outset #3f51b5;
  -webkit-box-shadow: 5px 5px 15px rgb(0 0 0 / 40%);
  font-style: oblique;
}

.welcome-message-container {
  max-width: 500px;
  padding-bottom: 0.5em;
}

.clash-bot-welcome-dashboard-buttons-container {
  display: flex;
}

.demo-inline-calendar-card {
  min-width: 200px;
}

.header {
  font-weight: bold;
}
