<div class="main-container">
  <div class="welcome-message-container">
    <mat-card>
      <mat-card-title id="WelcomeMessage-Title">Welcome to Clash-Bot!</mat-card-title>
      <mat-card-content id="WelcomeMessage-Message">This site is here to help you and your friends quickly group up
        through discord to compete in a
        League of Legends
        Clash Tournament. We have a Discord Bot if you'd like to use it with your Server, you can add it to your Server
        at <a
          href="https://top.gg/bot/837629412328734740">Top.gg</a>.
      </mat-card-content>
      <mat-card-content id="WelcomeMessage-LoginMessage" *ngIf="!loggedIn">
        Please login to discord using the button below before continuing.
      </mat-card-content>
      <mat-card-header class="header" *ngIf="loggedIn === 'LOGGED_IN'">Site Usage</mat-card-header>
      <mat-card-content *ngIf="loggedIn">Please use the menu above to see the available content.</mat-card-content>
      <button mat-menu-item id="WelcomeMessage-DiscordLogin-Btn" (click)="loginToDiscord()"
              *ngIf="loggedIn === 'NOT_LOGGED_IN'">
        <mat-icon>discord</mat-icon>
        <span>Login to Discord</span>
      </button>
      <div *ngIf="loggedIn === 'LOGGING_IN'">
        <h2>Logging in...</h2>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    </mat-card>
    <p>{{guilds}}</p>
  </div>
  <app-clash-tournament-calendar id="WelcomeMessage-Calendar" [daysSelected]="tournamentDays" *ngIf="dataLoaded"></app-clash-tournament-calendar>
</div>
