<button mat-icon-button (click)="togglePanel()">
    <mat-icon [matBadge]="badgeNumber"
              matBadgePosition="after" matBadgeColor="accent"
              matBadgeSize="small" [matBadgeHidden]="badgeHidden"
              cdkOverlayOrigin #trigger="cdkOverlayOrigin">notifications
    </mat-icon>
</button>
<ng-template
        cdkConnectedOverlay
        [cdkConnectedOverlayOrigin]="trigger"
        [cdkConnectedOverlayOpen]="showNotificationPanel"
        [cdkConnectedOverlayPositions]="connectedPosition">
    <ul [ngClass]="classList" class="clash-notification-list">
        <li *ngFor="let notification of notifications">
            <app-notifications [notification]="notification"
                               (dismissEvent)="dismissNotification($event)"></app-notifications>
        </li>
    </ul>
</ng-template>
