/* You can add global styles to this file, and also import other style files */

html, body {
  min-height: 100%;
}

/* SCSS HEX */
$harvest-gold: #e29400ff;
$wild-blue-yonder: #a6a6beff;
$midnight-blue: #000046ff;
$midnight-blue-2: #171757ff;
$st-patricks-blue: #2c2c66ff;

.subtext {
  color: #707070;
}

.title {
  font-family: 'Kaushan Script', cursive;
  font-size: 1.75em;
}