<mat-card class="example-card">
  <div  *ngIf="!team.error; else elseBlock">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{team.teamName}}</mat-card-title>
      <mat-card-subtitle *ngIf="team.tournamentDetails">{{team.tournamentDetails.tournamentName}} -
        Day {{team.tournamentDetails.tournamentDay}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div *ngFor="let player of team.playersDetails; index as i; first as isFirst">
        <div>
          <h2>{{player.role}} - {{player.name}}</h2>
          <p *ngIf="player.champions">Champions: {{player.champions}}</p>
        </div>
      </div>
    </mat-card-content>
  </div>
  <ng-template #elseBlock>
    <mat-card-content>
      <h2>No Data :(</h2>
    </mat-card-content>
  </ng-template>
</mat-card>
