<div class="clash-notification-message-container" [ngClass]="showClass">
    <div class="clash-notification-text-container">
        <span class="clash-notification-from-text">{{notification?.from}}</span>
        <span class="clash-notification-text">{{notification?.message}}</span>
        <span class="clash-notification-time">{{notification?.timeAdded | date:dateFormat:timezoneOffset }}</span>
    </div>
    <button class="clash-notification-dismiss-container darkMode"
            color="primary"
            (click)="dismissNotification()"
            matTooltip="Dismiss"
            matTooltipClass="clash-notification-dismiss-tooltip"
            mat-mini-fab>
        <mat-icon>
            close
        </mat-icon>
    </button>
</div>