<div class="progress-spinner" *ngIf="showSpinner">
    <mat-progress-spinner
            class="example-margin"
            color="primary"
            mode="indeterminate"
            aria-label="Loading Team Data...">
    </mat-progress-spinner>
    <div class="loading-text">
        <h2>Loading your requested data</h2>
        <div class="loading-animation">
            <h2 class="animated-dot-one">.</h2>
            <h2 class="animated-dot-two">.</h2>
            <h2 class="animated-dot-three">.</h2>
        </div>
    </div>
</div>