.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.main-page {
  padding: 1em;
}

.dashboard {
  height: 100%;
  display: flex;
  flex-direction: column;
}

:host {
  height: 100%
}

.copyright-text {
  text-align: left;
  opacity: 30%;
}

.example-spacer {
  flex: 1 1 auto;
}
