<mat-sidenav-container class="mobile-clash-container">
    <mat-sidenav #drawer
                 class="mobile-clash-sidenav"
                 mode="over"
                 [fixedInViewport]="true"
                 [disableClose]="false"
                 position="end">
        <mat-card>
            <h2 class="mobile-clash-sidenav-header">{{username}}</h2>
            <mat-slide-toggle [formControl]="darkModeFormControl">
                <mat-icon *ngIf="darkModeFormControl.value; else elseBlock">dark_mode</mat-icon>
                <ng-template #elseBlock>
                    <mat-icon>light_mode</mat-icon>
                </ng-template>
            </mat-slide-toggle>
        </mat-card>

        <ul class="mobile-clash-notification-list">
            <li *ngFor="let notification of (notificationsWsService.notifications | async)">
                <app-notifications [notification]="notification"
                                   (dismissEvent)="notificationsWsService.dismissNotification($event.id)"></app-notifications>
            </li>
        </ul>
    </mat-sidenav>
    <mat-sidenav #menuSideNav
                 class="mobile-clash-sidenav"
                 mode="over"
                 [fixedInViewport]="false"
                 [disableClose]="false">
        <mat-card>
            <h2 class="mobile-clash-sidenav-header">Pages</h2>
        </mat-card>
        <ol class="clash-menu-list">
            <li>
                <button id='clash-bot-menu-welcome-page' mat-stroked-button (click)="navigateToWelcomePage()">
                    <mat-icon class="clash-menu-list-icon">house</mat-icon>
                    <span>Home</span>
                </button>
            </li>
            <li>
                <button id='clash-bot-menu-teams-page' mat-stroked-button
                        *ngIf="userDetailsLoaded && applicationDetailsLoaded"
                        (click)="navigateToTeams()">
                    <mat-icon class="clash-menu-list-icon">groups</mat-icon>
                    <span>Clash Teams</span>
                </button>
            </li>
            <li>
                <button id='clash-bot-menu-user-profile-page' mat-stroked-button
                        *ngIf="userDetailsLoaded && applicationDetailsLoaded"
                        (click)="navigateToUserProfile()">
                    <mat-icon class="clash-menu-list-icon">settings</mat-icon>
                    <span>Settings</span>
                </button>
            </li>
        </ol>
    </mat-sidenav>
    <mat-sidenav-content class="mobile-clash-content">
        <div class="header">
            <mat-toolbar color="primary">
                <button mat-icon-button (click)="menuSideNav.open()" aria-label="tabs">
                    <mat-icon>menu</mat-icon>
                </button>
                <span class="title">Clash Bot</span>
                <span class="clash-bot-spacer"></span>
                <app-clash-user-panel [username]="username"
                                      *ngIf="userDetailsLoaded && applicationDetailsLoaded"
                                      (openNotifications)="drawer.open()"></app-clash-user-panel>
            </mat-toolbar>
        </div>
        <div class="main-page">
            <router-outlet></router-outlet>
        </div>
        <div class="clash-bot-footer footer">
            <mat-card>
                <div class="clash-bot-footer-details-container">
                    <mat-card-content class="copyright-text">Copyright 2021 - Poss11111</mat-card-content>
                    <mat-card-content>Version: {{appVersion}}</mat-card-content>
                </div>
                <mat-card-content class="disclaimer-text">Clash-Bot is not endorsed by Riot Games and does not
                    reflect the
                    views
                    or opinions of
                    Riot Games or anyone officially involved in producing or managing League of Legends. League of
                    Legends
                    and Riot
                    Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot
                    Games, Inc.
                </mat-card-content>
            </mat-card>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>