<div class="dashboard">
  <div class="header">
    <mat-toolbar color="primary">
      <span>Clash Bot</span>
    </mat-toolbar>
  </div>
  <div class="main-page">
    <div *ngFor="let team of teams; index as i; first as isFirst">
      <app-team-card [team]="team" class="team-card"></app-team-card>
    </div>
  </div>
  <div class="footer">
    <p class="copyright-text">Copyright 2021</p>
    <p class="disclaimer-text">Clash-Bot is not endorsed by Riot Games and does not reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</p>
  </div>
</div>

