.clash-notification-container {
  display: flex;
  width: 20em;
  border-radius: 0.5em;
  padding-right: 0.5em;
}

.clash-notification-text-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.clash-notification-time {
  justify-self: flex-end;
  align-self: flex-end;
  line-height: 10px;
  font-size: 0.8em;
}
