.component-desc-container {
  display: flex;
  flex-wrap: wrap;
}

.explanation-container {
  max-width: 20em;
  margin-right: 1em;
}

.component-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 20em;
}

.server-filter-title {
  max-width: 10em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.component-container > h2 {
  margin-right: 1em;
}

.tentative-component-container {
  flex-grow: 1;
}

.server-form-container {
  display: flex;
  flex-direction: column;
  max-width: 15em;
}


.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.headers-align {
  margin-left: 8px;
}

.stepper-btn-container {
  display: flex;
  justify-content: space-between;
}
