@use 'sass:map';
@use '@angular/material' as mat;

.clash-bot-player-details-container {
  width: 100%;
}

.clash-bot-role-button {
  display: flex;
  align-items: center;
}

.player-details-player-container {
  display: flex;
}

.player-detail-accordion-container {
  flex-grow: 2;
}

.player-role-player-details-inner-container {
  width: 100%;
}

.player-role-join-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.player-details-player-inner-container {
  transition: opacity 200ms 0s;
  opacity: 100;
}

.player-detail-accordion-container .mat-expansion-panel-header-title,
.player-detail-accordion-container .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.player-detail-accordion-container .mat-expansion-panel-header-title {
  align-items: center;
}

.player-detail-accordion-container .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.player-role-join-text {
  margin-top: 16px;
}

.player-role-join-btn {
  border-radius: 11px;
  box-shadow: 1px 1px 1px 1px black;
  transition: width 200ms cubic-bezier(0.35, 0, 0.25, 1), background-color 300ms cubic-bezier(0.35, 0, 0.25, 1), opacity 200ms 0s;
  opacity: 100;
  width: 100%;
}

.player-role-join-btn:hover {
  width: 90%;
}

.player-join-button-inner-container {
  padding: 1em 2em 1em 2em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: bold;
  font-size: large;
}

.disappear {
  opacity: 0;
}

.appear {
  opacity: 100;
}

.player-role-text--update {
  opacity: 0;
}

.champion-container {
  display: flex;
  gap: 10px;
  padding-bottom: 0.5em;
}

.champion-container:last-child {
  padding-bottom: 0;
}

.champion-img {
  width: 50px;
  height: auto;
}

.champion-img:nth-child {

}

.champion-name {
  font-style: italic;
}

