.clash-bot-player-details-container {
  width: 100%;
}

.clash-bot-role-button {
  display: flex;
  align-items: center;
}

.player-role-player-details-inner-container {
  width: 100%;
}

.player-role-join-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.player-details-player-inner-container {
  transition: opacity 200ms 0s;
  opacity: 100;
}

.player-role-join-text {
  margin-top: 16px;
}

.player-role-join-btn {
  background-color: white;
  border: gray solid 0.5px;
  border-radius: 11px;
  box-shadow: 1px 1px 1px 1px black;
  transition: width 200ms cubic-bezier(0.35, 0, 0.25, 1), opacity 200ms 0s;
  opacity: 100;
  width: 100%;
}

.player-role-join-btn:hover {
  width: 90%;
  background-color: rgb(240, 240, 240);
}

.player-details-text {
  margin-top: 16px;
}

.player-details-player-container {
  display: flex;
  justify-content: space-between;
}

.disappear {
  opacity: 0;
}

.appear {
  opacity: 100;
}

.player-role-text--update {
  opacity: 0;
}