.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.welcome-message-container {
  max-width: 500px;
  padding-bottom: 0.5em;
}

.demo-inline-calendar-card {
  min-width: 200px;
}

.mat-calendar-body-cell.selected {
  background: rgb(255,255,255)!important;
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(63,81,181,1) 100%)!important;
  border-radius: 50%
}

.mat-calendar-body-cell.notselected {
  background-color:white!important;
  border-radius: 50%
}

.header {
  font-weight: bold;
}
